<div class="row expanded">
  <div class="column hide-for-small-only">
    <header class="header">
      <div data-sticky-container>
        <div class="title-bar columns sticky medium-12 top" data-sticky data-options="marginTop:0;">
          <div class="title-bar-left"><a href="">Movie Collection</a></div>
          <div class="title-bar-left"><a href="#/popular">Popular Movies</a></div>
          <div class="title-bar-left"><a href="#/upcoming">Upcoming Movies</a></div>
          <div class="title-bar-left"><a href="#/nowPlaying">Now Playing Movies</a></div>
          <div class="title-bar-left"><a href="#/topRated">Top Rated Movies</a></div>
          <div class="title-bar-right">
            <a href="#"><i class=fi-widget></i></a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="column small-12 show-for-small-only">
    <header class="header">
      <button type="button" name="button"> Navigator </button>
    </header>
  </div>
</div>
