<div class="row expanded">
  <div class="column hide-for-small-only">
    <header class="header">
      <div data-sticky-container>
        <div class="title-bar columns sticky medium-12 top" data-sticky data-options="marginTop:0;">
          <div class="title-bar-left"><a href="">Movie Collection</a></div>
          <div class="title-bar-left"><a href="#/popular">Popular Movies</a></div>
          <div class="title-bar-left"><a href="#/upcoming">Upcoming Movies</a></div>
          <div class="title-bar-left"><a href="#/nowPlaying">Now Playing Movies</a></div>
          <div class="title-bar-left"><a href="#/topRated">Top Rated Movies</a></div>
          <div class="title-bar-right">
            <a href="#"><i class=fi-widget></i></a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="column small-12 show-for-small-only">
    <header class="header">
      <button type="button" name="button"> Navigator </button>
    </header>
  </div>
</div>
<div class="row align-center">
  <div class="columns medium-5 titulo">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="row align-center">
  <div class="columns medium-6 small-10  medium-centered buscador">
    <div class="input-group">
      <input  ng-model="buscarPelicula"  class="input-group-field" type="text" placeholder="Buscar..." value="">
      <div class="input-group-button">
        <button type="button" class="button hollow" name="button">Search!</button>
      </div>
    </div>
  </div>
</div>
