<section class="movie-collection-container">
  <div class="row align-center">
    <div class="columns medium-6 small-10  medium-centered resultados">
      <h4>{{ peliculas.results.length }} Resultados</h4>
    </div>
  </div>
  <div class="row expanded">
    <div class="container-peliculas">
      <div class="columns medium-4 small-12 card-container" ng-repeat='pelicula in peliculas.results  '>
        <div class="card">
          <div class="image">
            <img ng-src="https://image.tmdb.org/t/p/w300/{{pelicula.backdrop_path}}" src="" alt="">
          </div>
          <div class="content">
            <p><strong>{{pelicula.original_title}}</strong></p>
            <input type="hidden" name="" value="{{pelicula.id}}">
          </div>
          <div class="action">
            <p>{{pelicula.release_date}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
