h1 {
  font-size: 2.5rem;
}

.buscador {
  margin-top:3%;
}
.titulo {
  margin-top:12%;
}

.card-section h3 {
  margin-top:1%;
  color: blue;
  text-align: justify;
}

.buscador input, .buscador button {
  height:40px;
}

.card img {
  width: 100%;
}

.card-container {
  float:left;
  margin-left:2%;
}

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  margin-top:5%;
}
.card .title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.card .content {
  padding: 1.3rem;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
  width: 200px;
  height: 90px;
}
.card p {
  margin: 0;
  color: #2b2b79;
  font-size: 1.2em;
}
.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 1.3rem;
}
.card a {
  color: #ffab40;
  margin-right: 1.3rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.card .image {
  position: relative;
  width:110%;
}
.card .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  color: #fff;
}
.card .image img {
  border-radius: 2px 2px 0 0;
  width:100%;
  max-height: 201px;
}

.container-peliculas {
  margin-left: 2%;
}
